/*****************
 ALEX RODRIGUEZ VALDES - UO282936
 Estilos de los documentos html
*****************/

/* Especificidad (0,0,1) */
body {
    padding-left: 2%;
    padding-right: 2%;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    color: black;
    background-color: white;
}

/* Especificidad (0,0,2) */
header img {
    padding: 2.2em 1em 2em 2em;
}

/* Especificidad (0,0,2) */
header h1 {
    padding: 0.75em 0em 0em 0.3em;
}

/* Especificidad (0,0,1) */
nav {
    padding-bottom: 1.2em;

    border-top: 0.3em solid rgb(186, 14, 14);
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;

    /* hereda de body color: black; */
    background-color: rgba(240, 243, 245, 0.997);
}

/* Especificidad (0,0,2) */
nav a {
    padding-top: 1em;
    padding-left: 5%;

    /* hereda de nav background-color: rgba(240, 243, 245, 0.997); */
    color: black;
}

/* Especificidad (0,1,2) */
nav a:link {
    text-decoration: none;
}

/* Especificidad (0,1,2) */
nav a:hover {
    /* hereda de nav background-color: rgba(240, 243, 245, 0.997); */
    color: rgb(186, 14, 14);
}

/* Especificidad (0,1,2) */
main a:link {
    /* hereda de body background-color: white; */
    color: rgb(170, 8, 8);
}

/* Especificidad (0,1,2) */
main a:visited {
    /* hereda de body background-color: white; */
    color: rgb(170, 8, 8);
}

/* Especificidad (0,1,2) */
main a:active {
    /* hereda de body background-color: white; */
    color: black;
}

/* Especificidad (0,0,1) */
h2 {
    /* hereda de body background-color: white; */
    color: rgb(170, 8, 8);
}

/* Especificidad (0,0,2) */
article img {
    padding-bottom: 2em;
    margin-left: 25%;

    width: 50%;
    height: auto;
}

/* Especificidad (0,0,2) */
article video {
    padding-left: 2.5em;
}

/* Especificidad (0,0,2) */
article table {
    margin-left: 3%;

    border-spacing: 0.5em;
    border-style: outset;
    border-color: rgb(170, 8, 8);
    
    /* hereda de body color: black; */
    background-color: rgba(240, 243, 245, 0.997);
}

/* Especificidad (0,0,2) */
article ul {
    padding-left: 5%;
    
    list-style-type: square;
}

/* Especificidad (0,0,3) */
article li ul {
    padding-left: 5%;

    list-style-type: circle;
}

/* Especificidad (0,0,3) */
article form p {
    padding-top: 0.4em;
    padding-bottom: 0.6em;
}

/* Especificidad (0,0,3) */
article form fieldset {
    margin-right: 5%;
}

/* Especificidad (0,0,4) */
article form fieldset p {
    padding-top: 0.5em;
    padding-left: 3%;
}

/* Especificidad (0,0,5) */
article form fieldset p label {
    padding-right: 3%;
}

/* Especificidad (0,0,3) */
article form textarea {
    padding-left: 3%;
}

/* Especificidad (0,0,1) */
section {
    padding-left: 1.2em;
    margin-bottom: 0.2em;

    border-left: 0.2em solid rgb(170, 8, 8);
    border-top: 0.2em solid rgb(170, 8, 8);
    border-bottom: 0.2em solid rgb(170, 8, 8);
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
}

/* Especificidad (0,0,1) */
footer {
    margin-top: 3em;
    
    border-top: 0.1em solid black;
}

/* Especificidad (0,0,1) */
address {
    font-size: 0.95em;
}
