/*****************
 ALEX RODRIGUEZ VALDES - UO282936
 Distribución de secciones
*****************/

body {
    display: grid;
    grid-template-areas: "h h h h h h h h"
                         "n n n n n n n n"
                         "m m m m m m m m"
                         "m m m m m m m m"
                         "f f f f f f f f";
}

header {
    grid-area: h;

    display: grid;
    grid-template-areas: "l t";
    grid-template-columns: 0.2fr 2fr;
}

header img {
    grid-area: l;
}

header h1 {
    grid-area: t;
}

nav {
    grid-area: n;

    display: grid;
    grid-template-columns: repeat(4,1fr) ;
}

main {
    grid-area: m;

    display: grid;
    grid-template-areas: "h2 h2 h2 h2"
                         "ar ar ar s1"
                         "ar ar ar s2"
                         "ar ar ar s2";

    column-gap: 3em;
}

main h2 {
    grid-area: h2;
}

main article {
    grid-area: ar;
}

main section {
    grid-area: s1;
}

main section:last-of-type {
    grid-area: s2;
}

footer {
    grid-area: f;
}
