/*****************
 ALEX RODRIGUEZ VALDES - UO282936
 Distribución de secciones
*****************/

/* Especificidad (0,0,1) */
body {
    display: grid;
    grid-template-areas: "h h h h h h h h"
                         "n n n n n n n n"
                         "m m m m m m m m"
                         "m m m m m m m m"
                         "f f f f f f f f";
}

/* Especificidad (0,0,1) */
header {
    grid-area: h;

    /*display: grid;
    grid-template-areas: "l t";
    grid-template-columns: 0.2fr 2fr;*/
    display: flex;
    flex-direction: row;
}

/* Especificidad (0,0,2) */
header img {
    grid-area: l;
}

/* Especificidad (0,0,2) */
header h1 {
    grid-area: t;
}

/* Especificidad (0,0,1) */
nav {
    grid-area: n;

    /*display: grid;
    grid-template-columns: repeat(4,1fr) ;*/
    display: flex;
    flex-direction: column;
}

/* Especificidad (0,0,1) */
main {
    grid-area: m;

    display: grid;
    grid-template-areas: "h2 h2 h2 h2"
                         "ar ar ar s1"
                         "ar ar ar s2"
                         "ar ar ar s2";

    column-gap: 3em;
}

/* Especificidad (0,0,2) */
main h2 {
    grid-area: h2;
}

/* Especificidad (0,0,2) */
main article {
    grid-area: ar;
}

/* Especificidad (0,0,2) */
main section {
    grid-area: s1;
}

/* Especificidad (0,1,2) */
main > section:last-of-type {
    grid-area: s2;
}

/* Especificidad (0,0,1) */
footer {
    grid-area: f;
}
